body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBars{
  Background:#ccc;
  text-align: center;
  width:100%;
  Height:200px;
  display:flex;
  padding:50px;
}
.navBars h1{
  text-align: center;
}
.container{
  width:50%;
  position:absolute;
  background:#ccc;
  left:25%;
  top:25%;
}
.jokes{
  width:75%;
  position: relative;
  left:11%;
  border:1px solid black;
  
  margin:10px;
}
.question{
  width:100%;
  background:yellow;
  color:red;
}
.answer{
  width:100%;
  background:yellowgreen;
  color:blue;
}